In [650]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras

In [651]:
df = pd.read_csv('C:\\Users\\Codenester\\Downloads\\ml-latest-small\\ml-latest-small\\movies.csv')
dt = pd.read_csv('C:\\Users\\Codenester\\Downloads\\ml-latest-small\\ml-latest-small\\ratings.csv')

In [652]:
data = df.merge(dt,on='movieId')[['title','userId','rating']]

In [653]:
x = data.groupby('userId').count()['rating']>40
user_rated = x[x].index

In [654]:
num_rated = data[data['userId'].isin(user_rated)]

In [655]:
y = num_rated.groupby('title').count()['rating']>=10
famous_movie = y[y].index

In [656]:
filtered_movie = num_rated[num_rated['title'].isin(famous_movie)]

In [657]:
pt = filtered_movie.pivot_table(index='title',columns='userId',values='rating')

In [664]:
pt.fillna(0,inplace=True)

In [684]:
pt.head()

userId,1,4,5,6,7,8,9,10,11,14,...,600,601,602,603,604,605,606,607,608,610
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
(500) Days of Summer (2009),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
10 Cloverfield Lane (2016),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0
"10,000 BC (2008)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [685]:
from sklearn.metrics.pairwise import cosine_similarity

In [686]:
similarity_score = cosine_similarity(pt)

In [687]:
similarity_score.shape

(2235, 2235)

In [688]:
print(np.where(pt.index=='10,000 BC (2008)')[0][0])
print(np.where(pt.index=='A.I. Artificial Intelligence (2001)')[0][0])

4
48

In [689]:
def recomend(movie):
    index = np.where(pt.index==movie)[0][0]
    similar_item = sorted(list(enumerate(similarity_score[index])),key=lambda x: x[1],reverse=True)[1:10]
    
    for i in similar_item:
        print(pt.index[i[0]])

In [690]:
recomend('A.I. Artificial Intelligence (2001)')

I, Robot (2004)
Signs (2002)
Unbreakable (2000)
Minority Report (2002)
Final Fantasy: The Spirits Within (2001)
Matrix Reloaded, The (2003)
Back to the Future Part III (1990)
War of the Worlds (2005)
Spider-Man (2002)

In [691]:
recomend('9 (2009)')

Where the Wild Things Are (2009)
League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)
Mist, The (2007)
Van Helsing (2004)
Imaginarium of Doctor Parnassus, The (2009)
Burn After Reading (2008)
Fantastic Mr. Fox (2009)
Adjustment Bureau, The (2011)
Brothers Grimm, The (2005)